@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap');


:root{
   --black: #171718;
   --black-border: #171718;
   --white: #fff;
   --purple: #5C62EC;

   --dark-bg: var(--black);
   --dark-border: var(--black-border);
   --header-tex: var(--white);
   --accent: var(--purple);
}

/* font-family: "DM Sans", sans-serif;
font-family: "Poppins", sans-serif; */

 html, body {
    font-family: "DM Sans", sans-serif;
 }

 /* nav */

 .nav{
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-tex);
 }

 .contaner{
    margin: 0 auto;
    padding: 0 15;
   max-width: 1200px;
 }

 .nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
 }

 .logo{
    color:var(--header-tex);
    font-size: 24px;
    font-family: "Poppins", sans-serif;
 }

 .nav-list{
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
 }

 .nav-list_link{
    color: var(--header-tex);
 }

 .nav-list_link--active{
    position: relative;
 }

 .nav-list_link--active::before{
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
 }

 /* header */

